:root {
    /* DEFINE CSS VARIBLES */
    --wallpaper: #ffffff;
    --ink: #000000;
    --discount-colour: #202937;
    --banner-bckg: #000000;
    --banner-fgnd: #ffffff;
    --theme-bgc: #202937;
    --theme-fgc: #ffffff;
    --theme-c1: #EFC055;
    /* FONTS */
    font-family: 'Roboto', sans-serif;
}

/* DEFAULT  SETUP CLEAR  MARGIN,PADDING,BORDER */

html {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body {
    background-color: var(--wallpaper);
    color: var(--theme-bgc)
}

/* Code from Stackoverflow - Philip Feldmann */

/* Keep text from overspilling out of columns */

.keep-insideBSol {
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word;
}

/* WALLPAPER */

.wallpaper {
    background-color: var(--wallpaper);
}

/* BRAND LOGO */

.brand {
    color: var(--theme-c1) !important;
    background-color: var(--theme-bgc) !important;
}

/* NAVBAR */

.navbar {
    opacity: .80 !important;
}

.custom-nav-color, span {
    background-color: var(--theme-bgc) !important;
    color: var(--theme-fgc) !important;
}

.custom-nav-color, a {
    /* background-color: #202937 !important; */
    color: #ffffff !important;
}

li, nav-link, :hover {
    color: var(--theme-c1) !important;
}

/* BURGER BUTTON */

button, span, nav-bar-toggler-icon {
    background-color: var(--theme-c1) !important;
}

/* BUTTONS */

.btn, btn-success {
    color: var(--ink) !important;
    background-color: var(--theme-c1) !important;
}

.btn, btn-success {
    color: var(--ink) !important;
    background-color: var(--theme-c1) !important;
}

.btn, btn-warning {
    color: var(--ink) !important;
    background-color: var(--theme-c1) !important;
}

.go-back-button {
    box-shadow: 3px 3px var(--theme-bgc) !important;
}

.add-to-cart-button {
    box-shadow: 3px 3px var(--theme-bgc) !important;
}

/* ARTICLE TITLE */

.article-title {
    background-color: var(--wallpaper);
    color: var(--ink);
}

/* GENRE */

.genre-box {
    height: 200px;
    width: auto;
}

.genre-items {
    list-style: none;
}

.genre-items, a {
    color: var(--theme-bgc);
}

/* SECTION STUFF */

.section-title {
    font-size: 1.5rem;
    color: var(--ink);
    background-color: var(--wallpaper)
}

.section-content {
    font-size: 1rem;
    color: var(--ink);
    background-color: var(--wallpaper);
}

.section-tiny-text {
    font-size: .75rem;
    color: var(--ink);
    background-color: var(--wallpaper);
}

/* BANNER ADVERT ROTOR */

#advert {
    color: var(--theme-fgc);
    /* background-color: var(--theme-bgc); */
    color: var(--ink);
    background-color: var(--banner-bckg);
    height: 100px;
    /* width: 80%; */
    margin: auto;
    box-shadow: 3px 3px var(--theme-c1);
}

#advert {
    padding-top: 10px;
    font-size: 2rem;
    width: 90%;
    margin: auto;
}

#advert h1 {
    font-size: 1.5rem;
    color: var(--banner-fgnd);
    background-color: var(--banner-bckg);
}

.custom-alert {
    background-color: var(--theme-bgc) !important;
    color: var(--theme-fgc) !important;
}

/* LARGE SEARCH STUFF */

.large-search-bar {
    margin-top: 80px !important;
    width: 33%;
    margin-left: auto;
    margin-right: auto;
}

/* SMALL SEARCH */

.small-search {
    margin-left: 10px, !important;
}

/* RESULTS CARD STUFF */

.card-text {
    height: 100px;
    max-height: 100px !important;
    overflow: hidden;
    color: var(--theme-bgc);
    background-color: var(--theme-fgc);
}

/* FOUND BADGE */

.found-badge {
    color: var(--ink) !important;
    background-color: var(--discount-colour) !important;
}

/* CAROUSEL SIZE */

.c-image-size {
    height: 550px;
    width: auto;
}

/* GENRE - LIST */

.genre-items :hover {
    color: var(--theme-c1) !important;
    background-color: #404c5f !important;
}

/* SUSER & SHOPPING CART ICONS */

.fa-user {
    color: var(--theme-fgc) !important;
    background-color: var(--theme-bgc) !important;
}

.fa-shopping-cart {
    color: var(--theme-fgc) !important;
    background-color: var(--theme-bgc) !important;
}

/* DISCOUNTED PRODUCTS */

.discounted-product {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    width: 5%;
    border-radius: 10px;
    background-color: var(--discount-colour);
    color: var(--wallpaper)
}

.discounted-product, h1 {
    font-size: .75rem;
}






/* FOOTER BOX */

.footer-box {
    height: 70px;
    max-height: 70px;
    width: 100%;
    color: var(--banner-fgnd);
    background-color: var(--theme-bgc);
    opacity: .80;
    margin-left: 0px;
}

.sm-icons {
    font-size: 1.5rem;
    background-color: var(--theme-bgc) !important;
    color: var(--wallpaper) !important;
    margin-bottom: 10px;
}


 


.footer-box {
    color: #ffffff !important;
}