{% extends 'home/base.html' %}
{% load static %}

{% load crispy_forms_tags %}
{% crispy example_form example_form.helper %}


{% block post-title %} members-page {% endblock post-title %}







{% block main-content %}

<div class="row container-fluid">
  <div class="col-12 mx-3 ">

    <!-- <h1 class="section-title text-center">MEMBERS!</h1> -->

    <div class="jumbotron jumbotron-fluid">

      <div class="container-fluid">
        <!-- <h1 class="display-4">CHECKOUT!</h1> -->

        <h3>Line Items:({{ basket_item_count }})</h3>

        <table class="text-center px-2">


          <tr class="my-2">

            <td class="section-tiny-text px-2"><strong>Title</strong></td>
            <td class="section-tiny-text px-2"><strong>Quantity</strong></td>
            <td class="section-tiny-text px-2"><strong>Image</strong></td>
            <td class="section-tiny-text px-2"><strong>Price Paid</strong></td>

          </tr>


          {% for line_items in SCM %}

          <tr>

            <td>
              <h1 class="text-dark section-tiny-text px-2 bg-transparent"> {{ line_items.cart_film_friendly_title }}
              </h1>
            </td>

            <td>
              <h1 class="text-dark section-tiny-text px-2 bg-transparent"> {{ line_items.cart_film_quantity}} </h1>
            </td>


            <td>
              <image class="checkout-image-box bg-transparent" src="{{ line_items.cart_film_box_cover_url }}">
            </td>




            <td>
              <h1 class="text-dark section-tiny-text px-2 bg-transparent"> {{ line_items.cart_price_paid }} </h1>
            </td>

          </tr>




          {% endfor %}

        </table>

        <h1 class="text-tiny-text my-2 text-muted">* Membership discounts are included in the priced paid per line item</h1>


        <hr>
        <td>
          <h1 class="text-dark section-content px-2 text-muted bg-transparent"> Shipping £ {{ shipping_charge }} </h1>
        </td>


        <hr>

        <h1 class="section-content bg-transparent text-dark "><strong>TOTAL £ {{ final_bill }} ( Incl Postage )</strong>
        </h1>

        <hr>

      </div>
    </div>


    <h1 class="section-title "> ~ SHIPPING FORM ~ </h1>

    <p class="my-5"> Please ensure you complete the following shipping form!</p>






    <form action="">

      {% csrf_token %}


      
      {{  SF | crispy }}

      <!-- // -->

      <div class="row">
        <div class="col-12 text-center">

          <h1 class="text-muted"> * Please ensure that your mailing address is correct. We shall only ship items to the
            adress on this form!</h1>

          <button class="btn btn-lg btn-warning payment-button my-5 text-center">PAY NOW</button>

        </div>
      </div>



    </form>





  </div>
</div>





{% endblock main-content %}