{% extends 'home/base.html' %}
{% load static %}


{% block post-title %} login-register-page {% endblock post-title %}


{% block main-content %}

 
<div class="row container-fluid mx-auto">
<div class="col-12">



    <div class="jumbotron">
        <h1 class="display-4">LOGIN</h1>
        <p class="lead">Log in to your account here if registered. If not Please register below</p>
        <hr class="my-4">
       
        <a class="btn btn-primary btn-lg" href="#" role="button">Login</a>
      </div>


      <div class="jumbotron">
        <h1 class="display-4">REGISTER</h1>
        <p class="lead">Register Here!</p>
        <hr class="my-4">
       
        <a class="btn btn-primary btn-lg" href="#" role="button">Register</a>
      </div>


</div>
</div>




{% endblock main-content %}

