{% extends 'home/base.html' %}
{% load static %}

 
{% block post-title %} login-register-page {% endblock post-title %}

{% block main-content %}

<div class="row container-fluid mx-auto">
  <div class="col-12">

    <div class="jumbotron">
      <h1 class="display-4">LOGIN</h1>
      <p class="lead">Log in to your account here if registered. If not Please register below</p>
      <hr class="my-4">

      <!-- LOGIN FORM!! -->
      <div class="row container-fluid">
        <div class="col-12">

          <button class="btn btn-primary btn-lg" role="button"><a href="{% url 'account_login' %}">Login</a></button>

        </div>

      </div>

    </div>

    <div class="jumbotron">
      <h1 class="display-4">REGISTER</h1>
      <p class="lead">Register Here!</p>
      <hr class="my-4">

      <button class="btn btn-primary btn-lg" role="button"><a href="{% url 'account_signup' %}">Sign Up</a></button>
    </div>

  </div>
</div>

{% endblock main-content %}