{% extends 'home/base.html' %}
{% load static %}


{% block main-content %}

 

<div class="row container-fluid">
<div class="col-12 mx-3">

    <h1 class="section-title text-center">MY_ACCOUNT!</h1>
    



    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Fluid jumbotron</h1>
          <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
        </div>
    </div>






    

</div>
</div>



{% endblock main-content %}