{% extends 'home/base.html' %}
{% load static %}

{% load crispy_forms_tags %}
{% crispy example_form example_form.helper %}

{% block post-title %} my_account-page {% endblock post-title %}

{% block main-content %}

<div class="row container-fluid">
  <div class="col-12 mx-3">

    <!-- <h1 class="section-title text-center">MY_ACCOUNT!</h1> -->

    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Hello, {{ current_user }}</h1>
        <hr>

        <p>Warning: If this is not you please logout, as you are breaking our terms of service as an unauthorised user!
        </p>

        <p class="lead">Below is your Profile. Please ensure its completed</p>

        <button class="btn btn-lg btn-success payment-button"><a class="text-dark" href="{% url 'members' %}">MEMBERS
            LOUNGE</a></button>

      </div>
    </div>

    <!-- FORM!! -->
    <div class="row">
      <div class="col-12 text-dark">

        <form action="{% url 'my_account' %}" method="POST">
          {% csrf_token %}

          {{ UPF|crispy }}

          <!-- SAVE PROFILE BUTTON -->
          <div class="row my-5">
            <div class="col-12 text-center">

              <button type="submit" class="btn btn-lg btn-warning">SAVE PROFILE</button>

            </div>
          </div>

        </form>

      </div>
    </div>

  </div>

</div>

<!-- PURCHASE HISTORY SECTION!!! -->

<div class="row container-fluid my-5">
  <div class="col-12">

    <div class="jumbotron my-5">
      <h1 class="display-5">PURCHASE HISTORY!</h1>
      <p class="lead">Please see your purchase history below</p>
      <hr class="my-4">

      <table>
        <tr>

          <td class="section-tiny-text px-2">Date</td>

          <td class="section-tiny-text px-2 d-none d-lg-block">User</td>

          <td class="section-tiny-text px-2 d-none d-lg-block">Transaction Id</td>

          <td class="section-tiny-text px-2">Qty</td>
          <td class="section-tiny-text px-2">Price Paid</td>
          <td class="section-tiny-text px-2 d-none d-lg-block">Genre</td>
          <td class="section-tiny-text px-2 d-none d-lg-block">Sku</td>
          <td class="section-tiny-text px-2">Title</td>

          <td class="section-tiny-text px-2  d-none d-lg-block ">Image</td>

          <td class="section-tiny-text px-2 d-none d-lg-block">Description</td>

          <td class="section-tiny-text px-2 d-none d-lg-block">Unit Price</td>
          <td class="section-tiny-text px-2  d-none d-lg-block">Member Discount </td>
        </tr>

        {% for entry in purchase_history %}
        <tr>
          <td class="section-tiny-text px-2">{{ entry.ph_purchase_date }}</td>
          <td class="section-tiny-text px-2 d-none d-lg-block">{{ entry.ph_cart_owner }}</td>

          <td class="section-tiny-text px-2 d-none d-lg-block">{{ entry.ph_transaction_id }}</td>

          <td class="section-tiny-text px-2">{{ entry.ph_cart_film_quantity }}</td>
          <td class="section-tiny-text px-2">{{ entry.ph_cart_price_paid}}</td>
          <td class="section-tiny-text px-2 d-none d-lg-block">{{ entry.ph_cart_film_genre }}</td>
          <td class="section-tiny-text px-2 d-none d-lg-block">{{ entry.ph_cart_film_sku }}</td>
          <td class="section-tiny-text px-2">{{ entry.ph_cart_film_friendly_title}}</td>

          <td class="section-tiny-text px-2 d-none d-lg-block">
            <image class="cart-pic" src="{{ entry.ph_cart_film_box_cover_url }}"></image>
          </td>

          <td class="section-tiny-text px-2 d-none d-lg-block">{{ entry.ph_cart_film_description}}</td>

          <td class="section-tiny-text px-2 d-none d-lg-block">{{ entry.ph_cart_film_price}}</td>
          <td class="section-tiny-text px-2  d-none d-lg-block">{{ entry.ph_cart_film_product_discount}}</td>

        </tr>
        {% endfor %}

      </table>

    </div>

    <!-- {{ purchase_history }} -->

  </div>
</div>

<!-- JUMP TO TOP OF SCREERN -->
<div class="row">
<div class="col-12 my-5 text-center">
  <button class="btn btn-lg btn-success payment-button"><a class="text-dark" href="{% url 'my_account' %}">TOP OF PAGE</a></button>
</div>


</div>

</div>

{% endblock main-content %}