{% extends 'home/base.html' %}
{% load static %}

{% block post-title %} shopping-cart-page {% endblock post-title %}

{% block main-content %}

<!-- BACK BUTTON -->
<div class="row my-2">
    <div class="col-12 text-center">

        <button class="btn btn-lg btn success go-back-button" onclick="goBack()">Continue Shopping</button>

        <script>
            function goBack() {
                window.history.back();
            }
        </script>

    </div>
</div>

<!-- ALERT -->
<div class="row container-fluid">
    <div class="col-12 mx-2">
        <div class="alert alert-secondary" role="alert">
            <p>Below are the contents of your shopping cart</p>
            <p><strong>* Please note, % Discounts are applied to members only!</strong></p>
            <p><strong>* The subtotal includes (discount x quantity) per line item</strong></p>
            <p>Note: * ~ Shipping Charges @10% applicable to orders < £30.00 ~ </p>
        </div>
    </div>
</div>

<div class="row container-fluid">
    <div class="col-12 mx-3 ">

        <h1 class="section-title text-center"><span class="my-item fas fa-shopping-cart my-item"></span></h1>

        <!-- COSTINGS BLOCK! -->
        <div class="row">
            <div class="col-12 cost-block">

                <h3 class="text-muted">LINE ITEMS: ( {{ basket_item_count }} )</h3>
                <h3 class="text-muted">COST: £ {{ total_to_pay }}</h3>
                <h3 class="text-muted">SHIPPING: £ {{ shipping_charge }}</h3>
                <hr>

                <h3 class="fb-high-light bg-dark text-light"><b>TOTAL: £ {{ final_bill }}</b></h3>

                <h3 class="section-tiny-text">Note: * Shipping costs are rounded to the nearest whole number </h3>
            </div>
        </div>

        <hr>

        <!-- PAYMENT HERE! -->
        <div class="row">
            <div class="col-12 payment-block">

                <form action="{% url 'checkout' %}" method="POST">
                    {% csrf_token %}

                    <ul>

                        <div class="row">
                            <div class="col-12 text-center">

                                <li class="pay-selector"> <button class="btn btn-lg btn-danger my-2   payment-button"
                                        name="" type="submit"><span class="fab fa-cc-stripe"></span> PAY WITH
                                        CC</button> </li>

                            </div>

                        </div>

                    </ul>

                </form>

                <hr>

            </div>
        </div>

        <!-- JUMBOTRON -->
        <div class="jumbotron jumbotron-fluid">
            <div class="container-fluid">

                <h1 class="section-title-text text-center"><strong>THE FOLLOWING ITEMS ARE IN YOUR SHOPPING
                        CART</strong></h1>

                <!-- LIST CONTENTS OF SHOPPING CART -->
                <div class="row mx-auto">
                    <div class="col-12 section-tiny-text text-center keep-insideBSol" style="width:100%">

                        {% if basket_item_count  %}
                        <table class="">

                            <tr class="section-tiny-text">
                                <td class="table-spacer">DELETE</td>
                                <td class="table-spacer">QTY</td>
                                <td class="table-spacer d-none d-md-block">SKU</td>
                                <td class="table-spacer d-none ">-</td>
                                <td class="table-spacer">TITLE</td>
                                <td class="table-spacer d-none d-md-block" style="width:33%">DESC</td>
                                <td class="table-spacer d-none d-md-block">IMAGE</td>
                                <td class="table-spacer">PRICE</td>

                                <td class="table-spacer d-none d-sm-block">DSC %</td>
                                <td class="table-spacer ">TOT</td>
                            </tr>

                            {% for items in SCM %}

                            <h1 class="section-tiny-text">{{ items.product_session }}</h1>
                            <tr>

                                <td class="section-tiny-text">
                                    <form action="{% url 'delete_from_shopping_cart' %}" method="POST">
                                        {% csrf_token %}

                                        <h2 class="cart-items cart-text"><input type="submit" value="DELETE">
                                        </h2>

                                        <input type=hidden name="dsku" value="{{ items.pk }}">
                                    </form>
                                </td>

                                <td>
                                    <h2 class="cart-items cart-text">{{ items.cart_film_quantity }}</h2>
                                </td>

                                <td class="d-none d-md-block">
                                    <h2 class="cart-items cart-text">{{ items.cart_film_sku }}</h2>
                                </td>

                                <td>
                                    <h2 class="cart-items cart-text">{{ items.cart_film_friendly_title }}</h2>
                                </td>

                                <td class="d-none d-md-block text-justify" style='border:single'>
                                    <h2 class="cart-items cart-text">{{ items.cart_film_description }}</h2>
                                </td>

                                <td class="d-none d-md-block" style='border:single'>
                                    <h2 class="cart-items cart-text ">
                                        <image class="cart-pic" src="{{ items.cart_film_box_cover_url }}">
                                        </image>
                                    </h2>
                                </td>

                                <td>
                                    <h2 class="cart-items cart-text">{{ items.cart_film_price }}</h2>
                                </td>

                                <td class="d-none d-sm-block">
                                    <h2 class="cart-items cart-text"> -% {{ items.cart_film_product_discount }}
                                    </h2>
                                </td>

                                <td class="">
                                    <!-- Product price total with discount -->
                                    <h2 class="cart-items cart-text"><b>{{ items.cart_price_paid }}</b></h2>
                                </td>

                            </tr>

                            {% endfor %}
                        </table>
                        <hr>
                        {% endif %}

                    </div>
                </div>

            </div>
        </div>

        <!-- // JUMBOTRON END -->

        <!-- SPACER -->
        <div class="row my-5">
            <div class="col-12">

                <hr>

            </div>
        </div>

        {% endblock main-content %}

    </div>
</div>