{% extends 'home/base.html' %}
{% load static %}


{% block post-title %} shopping-cart-page {% endblock post-title %}


{% block main-content %}

<!-- BACK BUTTON -->
<div class="row my-2">
    <div class="col-12 text-center">

        <button class="btn btn-lg btn success go-back-button" onclick="goBack()">Go Back</button>

        <script>
            function goBack() {
                window.history.back();
            }
        </script>

    </div>
</div>

<!-- ALERT -->
<div class="row container-fluid">
    <div class="col-12 mx-2">
        <div class="alert alert-warning" role="alert">
            <p>Below are the contents of your shopping cart</p>
            <p>* Please note ' % Discounts' are applied to members only!</p>
            <p>* The subtotal includes 'discount% X quantity per line item'</p>
            <p>* ~ Shipping Charges 10% applicable to orders < £30.00 ~ </p>
        </div>
    </div>
</div>





<div class="row container-fluid">
    <div class="col-12 mx-3 ">

        <h1 class="section-title text-center"><span class="my-item fas fa-shopping-cart my-item"></span></h1>


        <!-- COSTINGS BLOCK! -->
        <div class="row">
            <div class="col-12 cost-block">

                <h3 class="text-muted">TOTAL LINE ITEMS: ( {{ basket_item_count }} )</h3>
                <h3 class="text-muted">COST: £ {{ total_to_pay }}</h3>
                <h3 class="text-muted">SHIPPING CHARGE: £ {{ shipping_charge }}</h3>
                <hr>
                <h3 class="fb-high-light"><b>YOU PAY: £ {{ final_bill }}</b></h3>

            </div>
        </div>

        <hr>

        <!-- PAYMENT HERE! -->
        <div class="row">
            <div class="col-12 payment-block">



                <form action="#" method="POST">
                    {% csrf_token %}

                    <ul>

                        <li class="pay-selector"> <button class="btn btn-lg btn-danger my-2   payment-button" name=""
                                type="submit"><span class="fab fa-cc-stripe"></span> STRIPE!</button> </li>

                        <li class="pay-selector"> <button class="btn btn-lg btn-danger my-2   payment-button" name=""
                                type="submit"><span class="fab fa-cc-paypal"></span> PAYPAL!</button> </li>

                    </ul>

                </form>

                <hr>

            </div>
        </div>


        <div class="jumbotron jumbotron-fluid">
            <div class="container">



                <h1 class="section-title-text">THE FOLLOWING ITEMS ARE IN YOUR CART</h1>
                <!-- <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>-->


                <!-- LIST CONTENTS OF SHOPPING CART -->
                <div class="row ">
                    <div class="col-12 section-tiny-text text-center" style="width:100%">

                        {% if basket_item_count  %}
                        <table>

                            <tr class="section-tiny-text">
                                <th class="table-spacer">DELETE</th>
                                <th class="table-spacer">QTY</th>
                                <th class="table-spacer">-</th>
                                <th class="table-spacer">SKU</th>
                                <th class="table-spacer">-</th>
                                <th class="table-spacer">TITLE</th>
                                <th class="table-spacer d-none d-md-block" style="width:33%">DESC</th>
                                <th class="table-spacer d-none d-md-block">IMAGE</th>
                                <th class="table-spacer">PRICE</th>
                                <th class="table-spacer">DSC % / ITEM</th>
                                <th class="table-spacer">SUB TOT</th>
                            </tr>




                            {% for items in SCM %}



                            <h1 class="section-tiny-text">{{ items.product_session }}</h1>
                            <tr>

                                <td class="section-tiny-text">
                                    <form action="{% url 'delete_from_shopping_cart' %}" method="POST">
                                        {% csrf_token %}

                                        <h2 class="cart-items cart-text"><input type="submit" value="DELETE"></h2>

                                        <input type=hidden name="dsku" value="{{ items.pk }}">
                                    </form>
                                </td>

                                <td>
                                    <h2 class="cart-items cart-text">{{ items.cart_film_quantity }}</h2>
                                </td>



                                <td>
                                    <h2 class="cart-items cart-text">{{ 'X' }}</h2>
                                </td>




                                <td>
                                    <h2 class="cart-items cart-text">{{ items.cart_film_sku }}</h2>
                                </td>



                                <td>
                                    <!-- <h2 class="cart-items cart-text">{{ items.product_name }}</h2> -->
                                </td>



                                <td>
                                    <h2 class="cart-items cart-text">{{ items.cart_film_friendly_title }}</h2>
                                </td>





                                <td class="d-none d-md-block text-justify" style='border:single'>
                                    <h2 class="cart-items cart-text">{{ items.cart_film_description }}</h2>
                                </td>

                                <td class="d-none d-md-block" style='border:single'>
                                    <h2 class="cart-items cart-text ">
                                        <image class="cart-pic" src="{{ items.cart_film_box_cover_url }}"></image>
                                    </h2>
                                </td>






                                <td>
                                    <h2 class="cart-items cart-text">{{ items.cart_film_price }}</h2>
                                </td>




                                <td>
                                    <h2 class="cart-items cart-text"> -% {{ items.cart_film_product_discount }}</h2>
                                </td>



                                <td>
                                    <!-- Product price total with discount -->
                                    <h2 class="cart-items cart-text"><b>{{ items.cart_price_paid }}</b></h2>
                                </td>



                            </tr>

                            {% endfor %}
                        </table>
                        <hr>
                        {% endif %}













                        </table>

                    </div>
                </div>








            </div>
        </div>



        {% endblock main-content %}