{% extends 'home/base.html' %}
{% load static %}

{% block post-title %} members-page {% endblock post-title %}

{% block main-content %}

<div class="row container-fluid">
  <div class="col-12 mx-3">

    <!-- <h1 class="section-title text-center">MEMBERS!</h1> -->

    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">MEMBERS LOUNGE</h1>
        <hr>
        <p class="lead">Members only content below</p>

        <a class="text-dark" href="{% url 'my_account' %}"><button class="btn btn-lg btn-success payment-button">MY
            ACCOUNT</button></a>
      </div>

    </div>

    <!-- // -->

    <div class="accordion" id="accordionExample">

      <!-- /////----///// -->

      <div class="card">
        <div class="card-header aria-expanded" id="headingOne">
          <h2 class="mb-0">

            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
              data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Video - Clips
            </button>

          </h2>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">

            <div class="row container-fluid">

              {% for video_snippets in FLM %}

              <div class="col-4  bg-secondary my-1 px-2 py-2 w-100 text-center">

                <h1 class="text-white text-big">{{video_snippets.film_friendly_title}}</h1>

                {% if video_snippets.film_clip_link %}

                <button class="btn btn-sm btn-primary login_register-buttons"><a
                    href="{{ video_snippets.film_clip_link }}" target="_blank">Play-Clip</a></button>

                {% endif %}

                {%  if not video_snippets.film_clip_link %}
                <h1 class="px-2 py-2">NO VIDEO</h1>
                {% endif %}

              </div>

              <div class="col-8 bg-secondary my-1 px-2 py-2 w-100">
                <h1 class="text-white">{{ video_snippets.film_description }}</h1>

                <hr>
              </div>

              {% endfor%}

            </div>

          </div>
        </div>

      </div>

      <!-- /////----///// -->

      <div class="card my-5">
        <div class="card-header" id="headingTwo">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
              data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              News - Snippets
            </button>
          </h2>
        </div>

        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body">

            {% for items in SNP %}
            <div class="row">

              <div class="col-12">
                <a href="{{items.snippet_source_url }}" target="_blank">
                  <h2 class="bg-dark text-white px-2 my-2 ">{{ items.snippet_friendly_name }}</h2>
                </a>
              </div>

              <div class="div col-12 text-muted snippet">
                <a href="{{items.snippet_source_url }}" target="_blank">
                  <image class="img-fluid" src="{{ items.snippet_image }}"></image>
                </a>
              </div>

              <div class="col-12 text-muted snippet">
                <a href="{{items.snippet_source_url }}" target="_blank"> {{ items.snippet_detail }} </a>
              </div>

            </div>

            {% endfor %}

          </div>

        </div>

      </div>
    </div>

    <!-- /////----///// -->

  </div>

  <!-- // -->

</div>
</div>

<!-- GOTO TOP OF PAGE -->
<div class="row">
  <div class="col-12 my-5 text-center">

    <button class="btn btn-lg btn-success payment-button"><a class="text-dark" href="{% url 'members' %}">TOP OF
        PAGE</a></button>

  </div>
</div>

{% endblock main-content %}