{% extends 'home/base.html' %}
{% load static %}


{% block post-title %} about-page {% endblock post-title %}



{% block main-content %}



<div class="row container-fluid">
  <div class="col-12 mx-3">

    <!-- <h1 class="section-title text-center">ABOUT PAGE!</h1> -->




    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">ABOUT</h1>

        <p class="lead">Welcome to Banyan-Videos-Corp

          We are purveyor of fine films on video. Our collection ranges from arthouse to independent and block buster
          tentpole juggernauts.

        <p>Banyan-Videos-Corporation’s mission statement is:</p>

        <p>Bringing people together worldwide through the love of film and cinema. Endeavouring to source and retail the
        very best films to the public.</p> <p>Started in 2010 by a film fan and a couple of his friends. Banyan-Videos
          filled the gap that was lost by blockbuster videos and ignored by Netflix. Banyan Videos slowly gained
          customers who were impressed not only by their catalogue of hard-to-find films, but also the discounts offered
          to members on their many titles.</p>

        Many returning customers have commented on the speed delivery of their service. <p>Therefore, Banyan Videos have
          grown from strength to strength.</p>

        <p>Please feel free to peruse our online store. We advise you join and benefit from the many discounts lettered
          across our range of films. We are sure you will find something you like. If there is something you cannot
          find, please fee free to drop us a mail. </p>

        <p>Barry Marcus - CEO</p>

        </p>

        <hr>

      </div>
    </div>








  </div>
</div>



{% endblock main-content %}