{% extends 'home/base.html' %}
{% load static %}


{% block post-title %} contact-page {% endblock post-title %}


{% block main-content %}

 

<div class="row container-fluid">
<div class="col-12 mx-3">

    <!-- <h1 class="section-title text-center">CONTACT PAGE!</h1> -->
    



    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">CONTACT US</h1>
          <p class="lead">

            We hope you have enjoyed browsing our store.
            <p>If you require additional assistance. Please feel free to complete the following form and send us a message</p>
            
            <p>Banyan-Videos-Corp values your custom</p>
            
            <p>Thank you</p>
            

          </p>
        </div>
    </div>






    

</div>
</div>



{% endblock main-content %}