{% extends 'home/base.html' %}
{% load static %}

{% block main-content %}

<div class="row container-fluid">
  <div class="col-12 mx-3">

    <h1 class="section-title text-center">LOGOUT!</h1>

    <div class="jumbotron jumbotron-fluid">

      <form action="{% url 'logout' %}" method="GET">
        {% csrf_token %}
        <div class="container">
          <h1 class="display-4 ">THANK YOU FOR YOUR VISIT!</h1>
          <p class="lead">Please come back soon</p>

          <!-- <button type="submit" class="btn btn-danger" name="submit" >Logout</button> -->

        </div>

      </form>

    </div>

  </div>
</div>

<!-- BACK BUTTON -->
<div class="row my-2">
  <div class="col-12 text-center">

    <a href="{% url 'home' %}"><button class="btn btn-lg btn success go-back-button" onclick="goBack()">Home
        Page</button></a>

  </div>
</div>

{% endblock main-content %}